*{font-family: Î¢ÈíÑÅºÚ;}
.fl{float: left;}
.fr{float: right;}
.f-size24{font-size: 24px;}
.f-size18{font-size: 18px;}
.f-size14{font-size: 14px; }
.listyle{list-style: none;}
.bg{background: pink;}
.header,.main,.footer-info{margin: 0 auto;width: 1200px;}